<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Movie Search</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Welcome to the home page, are you looking for a movie? <span style="color: rgb(47, 0, 255);">{{name}}</span>
        </h1>
        <h2>This is the right site for you!</h2>
        <form action="">
            <div class="form-group">
                <label for="searchMovie">Search Movie:</label>
                <input type="text" class="form-control" id="searchMovie" name="searchMovie">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <p>Searching for {{searchTerm}}</p>
        {% for movie in movies %}
        <div class="card mt-3">
            <div class="card-body">
                <h2 class="card-title">{{movie.title}}</h2>
                <h3 class="card-subtitle">{{movie.description}}</h3>
                <img src="{{ movie.image.url }}" class="img-fluid" alt="{{movie.title}} image">
                {% if movie.url %}
                <a href="{{movie.url}}" class="btn btn-primary mt-2">Movie link</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
